@import "bootstrap-sprockets";
@import "bootstrap";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url(asset-path('bg.jpg'));
  background-size: cover;
  background-attachment: fixed;
  padding-top: 50px;
}
.is-clickable {
  cursor: pointer
}
.shadowed {
  -webkit-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow:    0px 1px 14px 0px rgba(0, 0, 0, 1);
  box-shadow:         0px 1px 14px 0px rgba(0, 0, 0, 1);
}
.site-header {
  margin-bottom: 1.5em;
  .main-heading {
  text-shadow: 0px 1px 2px #000;
  color: rgb(233, 233, 233);
  font-weight: bold;
  font-size: 50px;  
  }
  .sub-heading {
    color: #E7E7E7;
  }
}

.project-panel {
  @extend .shadowed;
  .panel-heading {
    background-color: #216FB8;
    text-shadow: 0px 1px 2px #000;
  }
  .panel-title {
    display: inline-block;
    text-transform: uppercase;
    color: #DADADA;
    font-weight: bold;
  }
  .stats {
    color: #B9B9B9;
  }
  .delete-btn{
    display: none;
  }
  &:hover {
    .delete-btn {
      display: inline-block;
    }
  }

}

.add-task-row{  
  background-color: #ccc;
  padding: 10px 40px;
  margin-top: -15px;
}
.task-table {   
  td {
    vertical-align: middle !important;
  }
  .task-status {
    width: 5%;
    text-align: center;
  }
  .task-controls {
    width: 10%;
    text-align: center;
    .btn-group {
      display: none;
    }
    
    
  }
  tr:hover {
    .task-controls .btn-group {
      display: inline-block;
    }
  }
}
