@import "bootstrap-sprockets";
@import "bootstrap";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url(asset-path('bg.jpg'));
  background-size: cover;
  background-attachment: fixed;
}

.add-task-row{  
  background-color: #ccc;
  padding: 10px 40px;
  margin-top: -15px;
}
.task-table {    
  td {
    vertical-align: middle !important;
  }
  .task-status {
    width: 5%;
    text-align: center;
  }
  .task-controls {
    width: 10%;
    text-align: center;
    .btn-group {
      display: none;
    }
    
    
  }
  tr:hover {
    .task-controls .btn-group {
      display: inline-block;
    }
  }
}