%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} RubyDo
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse     
      %form.navbar-form.navbar-left{:role => "search", 'ng-show'=>'$root.user'}
        .form-group
          %input.form-control{:placeholder => "Projects filter", :type => "text", 'ng-model' => 'search'}/
      %form.navbar-form.navbar-left{'ng-submit' =>'addProject(newProjectName)', 'ng-show'=>'$root.user'}
        .input-group
          %input.form-control{:type => "text", 'placeholder' =>'Project name', 'ng-model' => 'newProjectName'}/
          %span.input-group-btn
            %submit.btn.btn-primary{'ng-click' => 'addProject(newProjectName)'} Add Project        
      %ul.nav.navbar-nav.navbar-right
        %li{'ng-controller'=>'UserCtrl'}          
          %a{'ng-show' => '$root.user','href' => '#', 'ng-click' => 'logout()', } Logout          
          %a{'ng-hide' => '$root.user','href' => '#', 'ng-click' => 'login()', } Login (SignUp)
    
%header.site-header
  %h1.main-heading.text-center RubyDO
  %h4.sub-heading.text-center Ruby on Rails todo list
.row{'ng-init' => 'init()'}   
  .panel.panel-primary.project-panel{'ng-repeat' => 'project in projects | filter:search'}
    .panel-heading 
      %h3.panel-title
        {{project.name}}
      %span.text-muted.stats{'ng-show' => 'project.tasks.length'}  {{completedTasks()}}/{{project.tasks.length}} tasks completed
      %span.glyphicon.glyphicon-trash.delete-btn.pull-right.is-clickable{'ng-click' =>'deleteProject($index)'}      
    .panel-body
      .row.add-task-row
        .col-lg-12
          %form{'ng-submit' =>'addTask(newTitle)'}
            .input-group
              %input.form-control{:type => "text", 'placeholder' =>'Start typing here to create a task...', 'ng-model' => 'newTitle'}/
              %span.input-group-btn
                %submit.btn.btn-primary{'ng-click' => 'addTask(newTitle)'} Add Task
      %table.task-table.table.table-striped.table-bordered.table-hover.is-sortable
        %tr{'ng-repeat' => 'task in project.tasks'}
          %td.task-status
            %input{:type => "checkbox", 'ng-model' => 'task.completed', 'ng-change' =>'updateTask()'}/
          %td.task-name
            %span{'ng-hide' => 'editMode'} {{task.name}}
            .input-group{'ng-show' => 'editMode'}
              %input.form-control{:type => "text", 'ng-model' => 'task.name'}/
              %span.input-group-btn
                %submit.btn.btn-primary{'ng-click' => 'updateTask()'} Save
          %td.task-controls
            .btn-group.btn-group-xs
              .btn.btn-default
                %span.glyphicon.glyphicon-pencil{'ng-click' =>'editMode = !editMode'}
              .btn.btn-default
                %span.glyphicon.glyphicon-trash{'ng-click' =>'deleteTask($index)'}
  %h2.text-center{'ng-show'=>'user && !projects.length'} No projects yet. Why don't you create one?
  